.panel-default>.panel-heading {
	padding: 0px;
	background: #fff;
}

.html-widget .leaflet-control.leaflet-timeline-control {
  width: 300px;
}

#webchat > div > div {
  z-index: 999999999999;
}

@media (max-width: 768px) {
  .tarjeta {
    width: 100%;
  }
  
  #mapaCasosCanton {
    width: 255px !important;
    position: initial !important;
  }
  
  #mapaTimeline {
    width: 255px !important;
  }
  
  #mapaMovilidadCantonReduccion {
    width: 255px !important;
    position: initial !important;
  }
  
  #mapaMovilidadCantonIncremento {
    width: 255px !important;
    position: initial !important;
  }
  
  #mapaWS {
    width: 255px !important;
  }
  
  .dygraph-legend {
    width: 260px !important;
    left: 0px !important;
  }
}